<div class="flex justify-center mt-10">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 block p-12 rounded-lg shadow-lg bg-white w-9/12">
    <h1 class="text-3xl font-bold mt-0 mb-6 text-center col-span-3">Управление заказами</h1>
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
          <tr>
            <th scope="col" class="font-medium text-gray-900 px-12 py-4 text-left">
              ID
            </th>
            <th scope="col" class="font-medium text-gray-900 px-6 py-4 text-left">
              ID сотрудника
            </th>
            <th scope="col" class="font-medium text-gray-900 px-6 py-4 text-left">
              Где обедаю
            </th>
            <th scope="col" class="font-medium text-gray-900 px-6 py-4 text-left">
              Дата формирования
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100" *ngFor="let order of orders">
            <ng-template [ngTemplateOutlet]="loadTemplate(order)"
                         [ngTemplateOutletContext]="{ $implicit: order}">
            </ng-template>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<ng-template #readOnlyTemplate let-order>
  <td class="px-12 py-4 whitespace-nowrap font-medium text-gray-900">{{order.id}}</td>
  <td class="text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.personId}}</td>
  <td class="text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.location == 0 ? "С собой" : "В кафе"}}</td>
  <td class="text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.dateForming | date:'dd/MM/yyyy, HH:mm'}}</td>
  <td>
    <button title="Редактировать" (click)="editOrder(order)" class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:bg-green-800 dark:text-green-200">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
    </button>
  </td>
  <td>
    <button title="Удалить" (click)="deleteOrder(order)" class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
    </button>
  </td>

</ng-template>

<ng-template #editTemplate>
  <td class="px-12 py-4 whitespace-nowrap font-medium text-gray-900">
    <input type="text" [(ngModel)]="editedOrder.id" readonly disabled>
  </td>
  <td class="text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <input type="text" [(ngModel)]="editedOrder.personId" class="form-control block w-full px-3 py-1.5 text-base font-normal
        text-gray-700 bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded transition ease-in-out
        m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" >
  </td>
  <td>
    <input type="text" [(ngModel)]="editedOrder.location" class="form-control block w-full px-3 py-1.5 text-base font-normal
        text-gray-700 bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded transition ease-in-out
        m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" >
  </td>
  <td>
    <input type="text" [(ngModel)]="editedOrder.dateForming"  readonly disabled>
  </td>
  <td>
    <button title="Сохранить" (click)="saveOrder()" class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
    </button>
  </td>
  <td>
    <button title="Отмена" (click)="cancel()" class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-yellow-500 bg-yellow-100 rounded-lg dark:bg-green-800 dark:text-green-200">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
    </button>
  </td>

</ng-template>

