<div class="flex justify-center mt-10">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 block p-12 rounded-lg shadow-lg bg-white w-9/12">
    <div class="grid grid-cols-4">
      <h1 class="text-3xl font-bold mt-0 mb-6 text-center col-span-3">Редактирование блюд</h1>
      <button class="btn-primary col-start-4" (click)="addDish()">Добавить блюдо</button>
    </div>


    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
          <tr>
            <th scope="col" class="font-medium text-gray-900 px-12 py-4 text-left">
              ID
            </th>
            <th scope="col" class="font-medium text-gray-900 px-6 py-4 text-left">
              Имя
            </th>
            <th scope="col" class="font-medium text-gray-900 px-6 py-4 text-left">
              Категория
            </th>
            <th scope="col" class="font-medium text-gray-900 px-6 py-4 text-left">
              Цена
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100" *ngFor="let dish of dishes">
            <ng-template [ngTemplateOutlet]="loadTemplate(dish)"
                         [ngTemplateOutletContext]="{ $implicit: dish}">
            </ng-template>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<ng-template #readOnlyTemplate let-dish>
    <td class="px-12 py-4 whitespace-nowrap font-medium text-gray-900">{{dish.id}}</td>
    <td class="text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{dish.name}}</td>
    <td class="text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{dish.category.name}}</td>
    <td class="text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{dish.dishPrice}}</td>
    <td>
      <input type="button" value="Изменить" class="btn-info-outline" (click)="editDish(dish)">
    </td>
    <td>
      <input type="button" value="Удалить" class="btn-danger-outline" (click)="deleteDish(dish)">
    </td>

</ng-template>

<ng-template #editTemplate>
  <td class="px-12 py-4 whitespace-nowrap font-medium text-gray-900">
    <label>{{editedDish.id}}</label>
  </td>
  <td class="text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <input type="text" [(ngModel)]="editedDish.name" class="form-control block w-full
     px-3 py-1.5 text-base font-normal
        text-gray-700 bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded transition ease-in-out
        m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
  </td>
  <td>
    <select class="selector" [(ngModel)]="editedDish.category">
      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
    </select>
  </td>
  <td>
    <input type="text" [(ngModel)]="editedDish.dishPrice" class="form-control block  px-3 py-1.5 text-base font-normal
        text-gray-700 bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded transition ease-in-out m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
  </td>
  <td>
    <button type="button" class="btn-success" (click)="saveDish()">Сохранить</button>
  </td>
  <td>
    <button type="button" class="btn-warning" (click)="cancel()">Отмена</button>
  </td>

</ng-template>

